[user]
    name = Aaron Seilis
    email = aaron.seilis@seilis.ca
[core]
	editor = gvim -f
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
	log = auto
[alias]
	fall = fetch --all
	graph = log --all --graph --format=\"%<|(15)%h %C(auto,cyan)%as %C(auto,yellow)%aN %C(auto,green) %(decorate:pointer=→,separator= ) %C(auto,white)%s%Creset\"
